{% load static %}


{% block javascript %}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>

    console.log("Create item ");

    $.ajax({

    });

    function toggle_status(item, status, id) {

        console.log(id)
        $.ajax({
            type: 'POST',
            headers: { 'X-CSRFToken': '{{ csrf_token }}' },
            url: 'ajax/update_item_status',
            data: {
                'item': item,
                'status': status,
                'id': id
            },
            dataType: 'json',
            success: function (data) {
                //   alert("AJAX request successfully completed");


            }
        });

    };


    function filter_item(value){

        console.log("Selected value "+ value)
            
        if(value != 0)
        {
            $(document).ready(function()
            {
                $( "li" ).each(function( index ) {
                        console.log( index + ": " + $( this ).val() );

                        if(value != $(this).val() ){
                            $(this).hide();
                        }


                });
            });
        }
        else{
            location.reload();
        }    
    };



    function delete_item(item, status, id) {

        console.log(id)
        $.ajax({
            type: 'POST',
            headers: { 'X-CSRFToken': '{{ csrf_token }}' },
            url: 'ajax/delete_item',
            data: {
                'item': item,
                'status': status,
                'id': id
            },
            dataType: 'json',
            success: function (data) {
                alert("AJAX request successfully completed");
            }
        });
    };


</script>

{% endblock %}

<meta name="viewport" content="width=device-width, initial-scale=0.5">
<link rel='stylesheet' type="text/css" href="{% static 'todolist/style.css' %}">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

<h1>Bharath Todo List application</h1>


<a href="additem">
    <div class="text-center">
        <button type="button" class="btn btn-success btn-lg"> Add New Task</button>
</a>
</div>

<h4> USER NAME : {{logged_user}}</h4>

<a href="signout">
    <div class="text-left">
        <button type="button" class="btn btn-danger btn-lg">Logout</button>
    </div>
</a>
</br>
</br>

<div>
    <label for="id_itemPriority">Priority Filter</label>
    <select id="id_checkItemPriority" name="checkItemPriority" style="width:100%; position:center; height:50px;border: 6px solid #000; font-size:20px;" size="1" onchange="filter_item(value)">
      <option value="0">All</option> 
      <option value="1">1. Not Urgent Not Important</option>
      <option value="2">2. Not Urgent Important</option>
      <option value="3">3. Urgent Not Important</option>
      <option value="4">4. Urgent Important</option>
    </select>
  </div>


<h2>Recurring Tasks</h2>

<ui class="list-group">


    {% if recurring_items %}
    {% for item in recurring_items %}
    <li class="list-group-item flex-row align-items-start " value="{{item.itemPriority}}" id="itemMain">
        <!-- <a href="#" class="list-group-item list-group-item-action flex-column align-items-start"> -->
        <div class="d-flex flex-column align-items-between">

            <div class="d-flex flex-row align-items-between">
                {% if item.status %}
                <div class="p-2 flex-grow-1">
                    <h3 class="mb-1">
                        <input class="form-check-input"
                            onclick="toggle_status('{{item.todo_item}}','{{item.status}}', '{{item.id}}')"
                            type="checkbox" value="" id="flexCheckChecked" checked>
                        <label class="form-check-label" for="flexCheckChecked">
                            {{ item.todo_item}}
                        </label>
                    </h3>
                </div>
                <div class="ms-auto p-2">
                    <a href="pomodorotimer/{{item.id}}" style="text-decoration:none"><div style="font-size:2.1rem;width:100%;text-align:center;">⏲️</div></a>
                </div>
                {% else %}
                <div class="p-2 flex-grow-1">
                    <h3 class="mb-1">
                        <input class="form-check-input"
                            onclick="toggle_status('{{item.todo_item}}','{{item.status}}', '{{item.id}}')"
                            type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                            {{ item.todo_item}}
                        </label>
                    </h3>
                </div>
                <div class="ms-auto p-2">
                    <a href="pomodorotimer/{{item.id}}" style="text-decoration:none"><div style="font-size:2.1rem;width:100%;text-align:center;">⏲️</div></a>
                </div>
                {% endif %}
            </div>
            <div class="d-flex flex-row align-items-between">
                <div class="p-2 flex-grow-1">
                    <p class="mb-1" style="font-size: 150%;"> Due Date: {{item.due_date}}</p>
                </div>
                <div class="ms-auto p-2">
                    <a href="editItem/{{item.id}}" style="text-decoration:none"><div style="font-size:2.1rem;width:100%;text-align:center;">✏️</div></a>
                </div>
            </div>
            <div class="d-flex  flex-row align-items-between">
                <div class="p-2 flex-grow-1">
                    <p class="mb-1" style="font-size: 150%;">Pomodoro Estimated/Completed:
                        {{item.pomodoro_estimate}} / {{item.pomodoro_completed}}</p>
                </div>
            </div>

            <div class="d-flex  flex-row align-items-between">
                <div class="p-2 flex-grow-1">
                    <p class="mb-1" style="font-size: 150%;">Priority: {{item.itemPriority}}</p>
                </div>
                <div class="ms-auto p-2">
                    <a href="deleteItem/{{item.id}}" style="text-decoration:none"><div style="font-size:2.1rem;width:100%;text-align:center;">🗑️</div></a>
                </div>
            </div>
        </div>


    </li>

    {% endfor %}




    {% else %}
    <p> No tasks are available</p>
    {% endif %}
    </li>
</ui>


<h2>Unit Tasks</h2>
<ui class="list-group">



    {% if list_of_items %}
    {% for item in list_of_items %}
    <li class="list-group-item flex-row align-items-start " value="{{item.itemPriority}}" id="itemMain">
        <!-- <a href="#" class="list-group-item list-group-item-action flex-column align-items-start"> -->
        <div class="d-flex flex-column align-items-between">

            <div class="d-flex flex-row align-items-between" >
                {% if item.status %}
                <div class="p-2 flex-grow-1">
                    <h3 class="mb-1">
                        <input class="form-check-input"
                            onclick="toggle_status('{{item.todo_item}}','{{item.status}}', '{{item.id}}')"
                            type="checkbox" value="" id="flexCheckChecked" checked>
                        <label class="form-check-label" for="flexCheckChecked">
                            {{ item.todo_item}}
                        </label>
                    </h3>
                </div>
                <div class="ms-auto p-2">
                    <a href="pomodorotimer/{{item.id}}" style="text-decoration:none"><div style="font-size:2.1rem;width:100%;text-align:center;">⏲️</div></a>
                </div>
                {% else %}
                <div class="p-2 flex-grow-1">
                    <h3 class="mb-1">
                        <input class="form-check-input"
                            onclick="toggle_status('{{item.todo_item}}','{{item.status}}', '{{item.id}}')"
                            type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                            {{ item.todo_item}}
                        </label>
                    </h3>
                </div>
                <div class="ms-auto p-2">
                    <a href="pomodorotimer/{{item.id}}" style="text-decoration:none"><div style="font-size:2.1rem;width:100%;text-align:center;">⏲️</div></a>
                </div>
                {% endif %}
            </div>
            <div class="d-flex flex-row align-items-between">
                <div class="p-2 flex-grow-1">
                    <p class="mb-1" style="font-size: 150%;"> Start Date: {{item.create_date}}</p>
                </div>
                <div class="p-2 flex-grow-1">
                    <p class="mb-1" style="font-size: 150%;"> Due Date: {{item.due_date}}</p>
                </div>
                <div class="ms-auto p-2">
                    <a href="editItem/{{item.id}}" style="text-decoration:none"><div style="font-size:2.1rem;width:100%;text-align:center;">✏️</div></a>
                </div>
            </div>
            <div class="d-flex  flex-row align-items-between">
                <div class="p-2 flex-grow-1">
                    <p class="mb-1" style="font-size: 150%;">Pomodoro Estimated/Completed:
                        {{item.pomodoro_estimate}} / {{item.pomodoro_completed}}</p>
                </div>
            </div>

            
            <div class="d-flex  flex-row align-items-between">
                <div class="p-2 flex-grow-1">
                    <p class="mb-1" style="font-size: 150%;">Priority: {{item.itemPriority}}</p>
                </div>
                <div class="ms-auto p-2">
                    <a href="deleteItem/{{item.id}}" style="text-decoration:none"><div style="font-size:2.1rem;width:100%;text-align:center;">🗑️</div></a>
                </div>
            </div>
        </div>


    </li>

    {% endfor %}




    {% else %}
    <p> No tasks are available</p>
    {% endif %}
    </li>
</ui>
<h2>Completed Tasks</h2>
<ui class="list-group">



    {% if completed_items %}
    {% for item in completed_items %}
    <li class="list-group-item flex-row align-items-start " value="{{item.itemPriority}}" id="itemMain">
        <!-- <a href="#" class="list-group-item list-group-item-action flex-column align-items-start"> -->
        <div class="d-flex flex-column align-items-between" >

            <div class="d-flex flex-row align-items-between">
                {% if item.status %}
                <div class="p-2 flex-grow-1">
                    <h3 class="mb-1">
                        <input class="form-check-input"
                            onclick="toggle_status('{{item.todo_item}}','{{item.status}}', '{{item.id}}')"
                            type="checkbox" value="" id="flexCheckChecked" checked>
                        <label class="form-check-label" for="flexCheckChecked">
                            {{ item.todo_item}}
                        </label>
                    </h3>
                </div>
                <div class="ms-auto p-2">
                    <a href="pomodorotimer/{{item.id}}" style="text-decoration:none"><div style="font-size:2.1rem;width:100%;text-align:center;">⏲️</div></a>
                </div>
                {% else %}
                <div class="p-2 flex-grow-1">
                    <h3 class="mb-1">
                        <input class="form-check-input"
                            onclick="toggle_status('{{item.todo_item}}','{{item.status}}', '{{item.id}}')"
                            type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                            {{ item.todo_item}}
                        </label>
                    </h3>
                </div>
                <div class="ms-auto p-2">
                    <a href="pomodorotimer/{{item.id}}" style="text-decoration:none"><div style="font-size:2.1rem;width:100%;text-align:center;">⏲️</div></a>
                </div>
                {% endif %}
            </div>
            <div class="d-flex flex-row align-items-between">
                <div class="p-2 flex-grow-1">
                    <p class="mb-1" style="font-size: 150%;"> Start Date: {{item.create_date}}</p>
                </div>
                <div class="p-2 flex-grow-1">
                    <p class="mb-1" style="font-size: 150%;"> Due Date: {{item.due_date}}</p>
                </div>
                <div class="ms-auto p-2">
                    <a href="editItem/{{item.id}}" style="text-decoration:none"><div style="font-size:2.1rem;width:100%;text-align:center;">✏️</div></a>
                </div>
            </div>

            
            <div class="d-flex  flex-row align-items-between">
                <div class="p-2 flex-grow-1">
                    <p class="mb-1" style="font-size: 150%;">Priority: {{item.priority}}</p>
                </div>
                <div class="ms-auto p-2">
                    <a href="deleteItem/{{item.id}}" style="text-decoration:none"><div style="font-size:2.1rem;width:100%;text-align:center;">🗑️</div></a>
                </div>
            </div>

            <div class="d-flex  flex-row align-items-between">
                <div class="p-2 flex-grow-1">
                    <p class="mb-1" style="font-size: 150%;">Pomodoro Estimated/Completed:
                        {{item.pomodoro_estimate}} / {{item.pomodoro_completed}}</p>
                </div>

            </div>

        </div>


    </li>

    {% endfor %}




    {% else %}
    <p> No tasks are available</p>
    {% endif %}
    </li>
</ui>



<div class="text-center">
    <a href="additem"><button type="button" class="btn btn-success btn-lg"> Add new Task</button> </a>
</div>
