{% load static %}


{% block javascript %}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>

    console.log("Create item ");

    $.ajax({

    });

    function toggle_status(item, status, id) {
        
        console.log(id)
        $.ajax({
        type: 'POST',
        headers: {'X-CSRFToken': '{{ csrf_token }}'},
        url: 'ajax/update_item_status',
        data: {
            'item':item,
          'status':status,
          'id': id
        },
        dataType: 'json',
        success: function (data) {
            alert("AJAX request successfully completed");
            
            
        }
      });
        
    };


    function delete_item(item, status, id) {
        
        console.log(id)
        $.ajax({
        type: 'POST',
        headers: {'X-CSRFToken': '{{ csrf_token }}'},
        url: 'ajax/delete_item',
        data: {
            'item':item,
          'status':status,
          'id': id
        },
        dataType: 'json',
        success: function (data) {
            alert("AJAX request successfully completed");
        }
      });
    };
 
  
</script>   

{% endblock %}


<link rel='stylesheet' type="text/css" href="{% static 'todolist/style.css' %}">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

<h1>Bharath Todo List application</h1> <a href= "additem" >
<div class="text-center">
    <button type="button"  class="btn btn-warning" > Add New Task</button> </a>
</div>
<h2>Recurring Tasks</h2> 

<div class="container-fluid" style="border:1px solid #0f0e0e;" >


    <div class="row">
        <div class="col-5" ><h3>Task</h3></div>
        <div class="col" ><h3>Creation Time</h3></div>
        <div class="col" ><h3>Pomodoro Total/Done</h3></div>
        <div class="col" ><h3> Clock </h3> </div>
        <div class="col" ><h3>Edit/Delete</h3></div>

    </div>
{% if recurring_items %}
    {% for item in recurring_items %}
    <div class="row">
        <div class="col-5">
        {% if item.status %}
        <div class="form-check">
                <input class="form-check-input" onclick="toggle_status('{{item.todo_item}}','{{item.status}}', '{{item.id}}')" type="checkbox" value=""   id="flexCheckChecked"  checked>
                <label class="form-check-label" for="flexCheckChecked">
                    {{ item.todo_item}}
                </label>
        </div>
        {% else %}
        <div class="form-check">
            <input class="form-check-input"  onclick="toggle_status('{{item.todo_item}}','{{item.status}}', '{{item.id}}')" type="checkbox"  value="" id="flexCheckDefault" >
            <label class="form-check-label" for="flexCheckDefault">
                {{ item.todo_item}}
            </label>
        </div>
        {% endif %}
        </div>
        <div class="col">
            {{item.create_date}}
        </div>

        <div class="col">
            {{item.pomodoro_estimate}} / {{item.pomodoro_completed}}
        </div>
        <div class="col">
            <p>
                <a href="pomodorotimer/{{item.id}}">
                <button type="button"  class="btn btn-primary">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-play" viewBox="0 0 16 16">
                    <path d="M10.804 8L5 4.633v6.734L10.804 8zm.792-.696a.802.802 0 0 1 0 1.392l-6.363 3.692C4.713 12.69 4 12.345 4 11.692V4.308c0-.653.713-.998 1.233-.696l6.363 3.692z"/>
                  </svg> 
                </button>
            </a>
        </p>        
        </div>
        <div class="col">
             <a href="editItem/{{item.id}}">   <button type="button"    class="btn btn-primary"> Edit</button> </a>
             <a href="deleteItem/{{item.id}}">   <button type="button"   class="btn btn-primary"> Delete</button> </a>
        </div>
    </div>
    {% endfor %}
    
   

        
    {% else %} 
        <p> No tasks are available</p>
    {% endif %}
</div>


<h2>Unit Tasks</h2>
<div class="container-fluid" style="border:1px solid #080808;" ></div>  
        <div class="row">
            <div class="col-5" ><h3>Task</h3></div>
            <div class="col" ><h3>Creation Time</h3></div>
            <div class="col" ><h3>Due Time</h3></div>
            <div class="col" ><h3>Pomodoro Total/Done</h3></div>
            <div class="col" ><h3> Clock </h3> </div>
            <div class="col" ><h3>Edit/Delete</h3></div>
        </div>
    {% if list_of_items %}
        {% for item in list_of_items %}
        <div class="row">
            <div class="col-5">
            {% if item.status %}
            <div class="form-check">
                    <input class="form-check-input" onclick="toggle_status('{{item.todo_item}}','{{item.status}}', '{{item.id}}')" type="checkbox" value=""   id="flexCheckChecked"  checked>
                    <label class="form-check-label" for="flexCheckChecked">
                        {{ item.todo_item}}
                    </label>
            </div>
            {% else %}
            <div class="form-check">
                <input class="form-check-input"  onclick="toggle_status('{{item.todo_item}}', '{{item.status}}', '{{item.id}}')" type="checkbox"  value="" id="flexCheckDefault" >
                <label class="form-check-label" for="flexCheckDefault">
                    {{ item.todo_item}}
                </label>
            </div>
            {% endif %}
            </div>
            <div class="col">
                {{item.create_date}}
            </div>
            <div class="col">
                {{item.due_date}}
            </div>
            <div class="col">
                {{item.pomodoro_estimate}} / {{item.pomodoro_completed}}
            </div>
            <div class="col">
                <p>
                    <a href="pomodorotimer/{{item.id}}"> 
                    <button type="button"  class="btn btn-primary">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-play" viewBox="0 0 16 16">
                        <path d="M10.804 8L5 4.633v6.734L10.804 8zm.792-.696a.802.802 0 0 1 0 1.392l-6.363 3.692C4.713 12.69 4 12.345 4 11.692V4.308c0-.653.713-.998 1.233-.696l6.363 3.692z"/>
                      </svg> 
                    </button>
                </a>
            </p>        
            </div>
            <div class="col">
                <a href="editItem/{{item.id}}">   <button type="button"    class="btn btn-primary"> Edit</button> </a>
                <a href="deleteItem/{{item.id}}">   <button type="button"   class="btn btn-primary"> Delete</button> </a>
           </div>
        </div>
        {% endfor %}
        
</div>
        
    {% else %} 
        <p> No tasks are available</p>
    {% endif %}
</div>
    <h2>Completed Tasks</h2>
    <div class="container-fluid" style="border:1px solid #080808;" ></div>  
            <div class="row">
                <div class="col-5" ><h3>Task</h3></div>
                <div class="col" ><h3>Creation Time</h3></div>
                <div class="col" ><h3>Due Time</h3></div>
                <div class="col" ><h3>Pomodoro Total/Done</h3></div>
                <div class="col" ><h3>Clock</h3> </div>
                <div class="col" ><h3>Edit/Delete</h3></div>
            </div>
        {% if completed_items %}
            {% for item in completed_items %}
            <div class="row">
                <div class="col-5">
                {% if item.status %}
                <div class="form-check">
                        <input class="form-check-input" onclick="toggle_status('{{item.todo_item}}','{{item.status}}', '{{item.id}}')" type="checkbox" value=""   id="flexCheckChecked"  checked>
                        <label class="form-check-label" for="flexCheckChecked">
                            {{ item.todo_item}}
                        </label>
                </div>
                {% else %}
                <div class="form-check">
                    <input class="form-check-input"  onclick="toggle_status('{{item.todo_item}}', '{{item.status}}', '{{item.id}}')" type="checkbox"  value="" id="flexCheckDefault" >
                    <label class="form-check-label" for="flexCheckDefault">
                        {{ item.todo_item}}
                    </label>
                </div>
                {% endif %}
                </div>
                <div class="col">
                    {{item.create_date}}
                </div>
                <div class="col">
                    {{item.due_date}}
                </div>
                <div class="col">
                    {{item.pomodoro_estimate}} / {{item.pomodoro_completed}}
                </div>
                <div class="col">
                    <p>
                      <a href="pomodorotimer/{{item.id}}">  <button type="button"  class="btn btn-primary"> 
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-play" viewBox="0 0 16 16">
                            <path d="M10.804 8L5 4.633v6.734L10.804 8zm.792-.696a.802.802 0 0 1 0 1.392l-6.363 3.692C4.713 12.69 4 12.345 4 11.692V4.308c0-.653.713-.998 1.233-.696l6.363 3.692z"/>
                          </svg> 
                        </button> </a>
                </p>        
                </div>
                <div class="col">
                    <div class="col">
                        <a href="editItem/{{item.id}}">   <button type="button"    class="btn btn-primary"> Edit</button> </a>
                        <a href="deleteItem/{{item.id}}">   <button type="button"   class="btn btn-primary"> Delete</button> </a>
                   </div>
                </div>
            </div>
            {% endfor %}
            
            </div>
            
        {% else %} 
            <p> No tasks are available</p>
        {% endif %}
 </div>
 <div class="text-center">
    <a href= "additem" ><button type="button"  class="btn btn-warning"> Add new Task</button> </a>
</div>