li a {
    color: green;
}

input[type=checkbox]:checked + label.form-check-label{
    text-decoration: line-through;
}

h1 {
    font-family: Fantasy;
    text-align: center;

}

h2{
      text-align: center;
      
}

body { 
    background-color: rgb(255, 255, 255) ; 
}

.container-fluid {
    margin-top: 5%;
    background-color: #f6f5f1;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
}

.row {
    background-color: #e3e3e3;
    border-radius: 15px;
}


.row:nth-child(even) {
    background: rgb(234, 236, 236)
}

.row:nth-child(odd) {
    background: rgb(255, 254, 254)
}

.delete{
    padding: 0;
    border: none;
    background: none;
}

button.block {
  display: block;
  width: 100%;
  border: none;
  background-color: #4CAF50;
  color: white;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}

button.home {
    display: block;
    width: 100%;
    border: none;
    background-color: #1c30e2;
    color: white;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
  }

/* Style the tab */

/* Style the tab content (and add height:100% for full page content) */
/* Style tab links */
.tablink {
    background-color: #555;
    color: white;
    float: center;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 25%;
}

    .tablink:hover {
        background-color: #777;
    }

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
    color: white;
    display: none;
    padding: 100px 20px;
    height: 100%;
}

.heading-1 {
    font-size: 350% !important;
    line-height: 120% !important;
    color: black;
}